.support-boxes {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
.support-box {
    width: calc(50% - 10px);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #907953;
}
  
.links {
    margin-top: 10px;
}
  
.links a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}
  
.links a:hover {
    text-decoration: underline;
}
  